<h2>Movie Details</h2>
{{results.title}}
<li>Genre: {{results.genre}}</li>
<li>Plot: {{results.plot}}</li>
<li>Cast: {{cast.name}}</li>

<form method="POST" action="/movies/{{results._id}}/delete">
  <button type="submit">Delete</button>
</form>

<form method="GET" action="/movies/{{results._id}}/edit">
  <button type="submit">Edit</button>
</form>